{% extends 'base_with_login_panel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('teams') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('teams') }}
{% endblock %}

{% block title %}{{ "pages.teams_add" | trans | capitalize }}{% endblock %}

{% block pageTitle %}
    {{ "pages.teams_add" | trans | upper }}
{% endblock %}

{% block content %}
    <div id="submenu">
        {{ knp_menu_render('teamsSubmenu', { 'template': 'menu/image_based_menu.html.twig' }) }}
    </div>

    <div id="main_content">
        <div id="team_add_form_div">
            {{ form_start(team_add_form) }}
                {{ form_row(team_add_form.name) }}
                {{ form_row(team_add_form.addresses) }}

                <div>
                    <img id="team_add_new_address_button" src="{{ asset('build/gfx/add.svg') }}" alt="Add address">
                </div>

                {{ form_row(team_add_form.add) }}
            {{ form_end(team_add_form) }}
        </div>

        <div id="team_add_new_address_form_div">
            {{ form_start(team_add_new_address_form) }}
                {{ form_row(team_add_new_address_form.street) }}
                {{ form_row(team_add_new_address_form.city) }}

                <div>
                    <img id="team_add_new_address_new_city_button" src="{{ asset('build/gfx/add.svg') }}" alt="Add city">
                </div>

                {{ form_row(team_add_new_address_form.add) }}
            {{ form_end(team_add_new_address_form) }}
        </div>

        <div id="team_add_new_address_new_city_form_div">
            {{ form_start(team_add_new_address_new_city_form) }}
                {{ form_row(team_add_new_address_new_city_form.name) }}
                {{ form_row(team_add_new_address_new_city_form.add) }}
            {{ form_end(team_add_new_address_new_city_form) }}
        </div>
    </div>
{% endblock %}
