{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('teams') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('teams') }}
{% endblock %}

{% block title %}{{ "pages.teams" | trans | capitalize }}{% endblock %}

{% block page_title %}
    {{ "pages.teams" | trans | upper }}
{% endblock %}

{% block content %}
    <div id="submenu">
        {{ knp_menu_render('teamsSubmenu', { 'template': 'menu/image_based_menu.html.twig' }) }}
    </div>

    <div id="main_content">
        <div id="teams_table_div">
            <table id="teams_table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Adres</th>
                </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>
                                <table class="team_addresses">
                                    {% for address in team.getAddresses() %}
                                        <tr>
                                            <td class="street_column">{{ address.getStreet() }}</td>
                                            <td class="city_column">{{ address.getCity().getName() }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
