{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('teams') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('teams') }}
{% endblock %}

{% block title %}{{ "pages.teams" | trans | capitalize }}{% endblock %}

{% block page_title %}
    {{ "pages.teams" | trans | upper }}
{% endblock %}

{% block content %}
    <div id="submenu">
        {{ knp_menu_render('teamsSubmenu', { 'template': 'menu/image_based_menu.html.twig' }) }}
    </div>

    <div id="main_content">
        <div id="teams_table_div">
            <div class="pagination_navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

            <table id="teams_table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Adres</th>

                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="hidden_cell">&nbsp;</th>
                        <th class="hidden_cell">&nbsp;</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for team in pagination.items %}
                        <tr class="clickable_row" data-href="{{ path('team', { id: team.id }) }}">
                            <td class="clickable_row_part">{{ team.name }}</td>
                            <td class="clickable_row_part">
                                <table class="team_addresses">
                                    {% for address in team.addresses %}
                                        <tr>
                                            <td class="street_column">{{ address.street }}</td>
                                            <td class="city_column">{{ address.city.name }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>

                            {% if is_granted('ROLE_ADMIN') %}
                                <td class="center_vertically edit_column">
                                    <a href="{{ path('team_edit', { 'id': team.id }) }}">
                                        <span class="material-icons">edit</span>
                                    </a>
                                </td>
                                <td class="center_vertically delete_column">
                                    <a href="{{ path('team_delete', { 'id': team.id }) }}">
                                        <span class="material-icons">delete</span>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
