{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('teams') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('teams') }}
{% endblock %}

{% block title %} {{ team.name }} {% endblock %}

{% block page_title %} {{ team.name }} {% endblock %}

{% block content %}
    <div id="submenu">
        {{ knp_menu_render('teamsSubmenu', { 'template': 'menu/image_based_menu.html.twig' }) }}
    </div>

    <div id="main_content">

    </div>
{% endblock %}