{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
<div id="main_content">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div>
                You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
            </div>
        {% endif %}
        <div>
            <h1>Please sign in</h1>
        </div>
        <div>
            <label>Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div>
            <label>Remember me</label>
            <input type="checkbox" name="_remember_me">
        </div>

        <div>
            <button type="submit">
                Sign in
            </button>
        </div>
    </form>
</div>
{% endblock %}
