<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('reset') }}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('reset') }}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <nav id="mainMenu">
            {% block navigation %}
                {{ knp_menu_render('mainMenu', {'template': 'menu/main_menu.html.twig'}) }}
            {% endblock %}
        </nav>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
