<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav id="main_menu">
                {% block navigation %}
                    {{ knp_menu_render('mainMenu', {'template': 'menu/image_based_menu.html.twig'}) }}

                    <div id="page_title">
                        {% block page_title %}
                        {% endblock %}
                    </div>

                    <div id="user_panel">
                        {% if not app.user %}
                            <div id="login_register_panel_small">
                                <a href="{{ path('login') }}">
                                    <span>{{ 'pages.login' | trans | capitalize }}</span>
                                </a>

                                <a href="{{ path('registration') }}">
                                    <span>{{ 'pages.register' | trans | capitalize }}</span>
                                </a>
                            </div>
                        {% else %}
                            <div id="user_panel_content">

                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
            </nav>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>

            <div id="flash_messages">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash_{{ label }} flash">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endblock %}
    </body>
</html>
